
.icons{
    display: flex;
    
}
.icons i{
    padding: 5px;
}
.today{
    background-color: blue;
    color: aliceblue;
    border: 1px solid black;
    padding: 1px;
    margin-top: 10px;
}

.my_will_main{
    margin-top: 10px;
}
.round-1 .ui-widgets {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 9rem;
    margin: 1px;
    border: 5px solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-left-color: orange;
    border-top-color: orange;
    border-right-color: red;
    border-bottom-color: white;
    text-align: center;
    box-sizing: border-box;
}
.ui-widgets:nth-child(2) {
    border-top-color: chartreuse;
    border-right-color: white;
    border-left-color: palegreen;
    border-bottom-color: white;
}
.ui-widgets .ui-values {
    top: 40px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0;
}
.ui-widgets .ui-labels {
 
    left: 0;
    bottom: -16px;
    text-shadow: 0 0 4px grey;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 12px;
}
.round-2 .ui-widgets {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 9rem;
    margin: 1px;
    border: 5px solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-left-color: blue;
    border-top-color: blue;
    border-right-color: blueviolet;
    border-bottom-color: white;
    text-align: center;
    box-sizing: border-box;
}
.ui-widgets:nth-child(2) {
    border-top-color: chartreuse;
    border-right-color: white;
    border-left-color: palegreen;
    border-bottom-color: white;
}
.ui-widgets .ui-values {
    top: 41px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0;
   
}
.ui-widgets .ui-labels {
 
    left: 0;
    bottom: -16px;
    text-shadow: 0 0 4px grey;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 12px;
}


.round-3 .ui-widgets {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 9rem;
    margin: 1px;
    border: 5px solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-left-color: pink;
    border-top-color: pink;
    border-right-color: pink;
    border-bottom-color: white;
    text-align: center;
    box-sizing: border-box;
}
.ui-widgets:nth-child(2) {
    border-top-color: chartreuse;
    border-right-color: white;
    border-left-color: palegreen;
    border-bottom-color: white;
}
.ui-widgets .ui-values {
    top: 40px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0rem;
   
}
.ui-widgets .ui-labels {
 
    left: 0;
    bottom: -16px;
    text-shadow: 0 0 4px grey;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 12px;
}

.round-4 .ui-widgets {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 9rem;
    margin: 1px;
    border: 5px solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-left-color: skyblue;
    border-top-color: skyblue;
    border-right-color: blue;
    border-bottom-color: white;
    text-align: center;
    box-sizing: border-box;
}
.ui-widgets:nth-child(2) {
    border-top-color: chartreuse;
    border-right-color: white;
    border-left-color: palegreen;
    border-bottom-color: white;
}
.ui-widgets .ui-values {
    top: 40px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0;
   
}
.ui-widgets .ui-labels {
 
    left: 0;
    bottom: -16px;
    text-shadow: 0 0 4px grey;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 12px;
}


.round-5 .ui-widgets {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 9rem;
    margin: 1px;
    border: 5px solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-left-color: yellowgreen;
    border-top-color: yellowgreen;
    border-right-color: darkgreen;
    border-bottom-color: white;
    text-align: center;
    box-sizing: border-box;
}
.ui-widgets:nth-child(2) {
    border-top-color: chartreuse;
    border-right-color: white;
    border-left-color: palegreen;
    border-bottom-color: white;
}
.ui-widgets .ui-values {
    top: 40px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0;
   
}
.ui-widgets .ui-labels {
 
    left: 0;
    bottom: -16px;
    text-shadow: 0 0 4px grey;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 12px;
}
.round-row{
    margin-top: 70px;
}
.col-p{
    font-size: 13px;
}

.s-button{
    margin-bottom: 10px;
}